<div class="flex flex-wrap items-center gap-4 p-4">
  <% sizes.each do |size| %>
    <%= render Foundation::LinkComponent.new(
      href: "#",
      text: size.to_s.titleize,
      size: size
    ) %>
  <% end %>
</div>
