<div class="flex flex-wrap items-center gap-2">
  <% colors.each do |color| %>
    <%= render Display::BadgeComponent.new(
      text: color[:label],
      color: color[:color]
    ) %>
  <% end %>
</div>
