<div class="flex flex-wrap items-center gap-2">
  <% colors.each do |color| %>
    <%= render Display::BadgeComponent.new(
      text: color.to_s.capitalize,
      variant: :solid,
      color: color
    ) %>
  <% end %>
</div>
