<div class="space-y-4">
  <% examples.each do |item| %>
    <div class="flex items-center justify-between py-2 border-b border-gray-100 last:border-0">
      <span class="text-sm text-gray-500">suffix: "<%= item[:suffix] %>"</span>
      <%= render Display::TimeagoComponent.new(
        datetime: item[:datetime],
        suffix: item[:suffix]
      ) %>
    </div>
  <% end %>
</div>
